<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>timb.codes</title>
    <link rel="icon" type="image/x-icon" href="../public/assets/logo1.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
</head>

<body>
    <main class="main_content">
        <div class="first_section" id="first_section">
            <div class="get_around">
                <a href="#second_section" class="nav_item" id="about_me">About Me</a>
                <a href="#third_section" class="nav_item" id="projects">Projects</a>
                <a href="#bottom" class="nav_item" id="contact">Contact</a>
            </div>
            <div class="welcome_text">
                <h1 class="main_text">
                    {timb.<span class="txt-type" data-wait="5000" data-words='["codes", "designs", "develops", "creates", "consults"]'></span
            >}
          </h1>
        </div>
        <div class="move_along">
          <div class="learn_more">
            <a href="#second_section" class="no_style"
              ><p class="learn_text">Learn More</p></a
            >
          </div>
          <div class="jump_arrow_one">
            <a href="#second_section" class="no_style"
              ><i class="fas fa-chevron-circle-down"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="second_section" id="second_section">
        <div class="up_arrow">
          <a href="#first_section" class="no_style sec_color"
            >Home <i class="fas fa-chevron-circle-up"></i
          ></a>
        </div>
        <div class="about_welcome">
          <h2 class="about_intro">About Me</h2>
        </div>
        <div class="underline_about"></div>
        <div class="icons_container">
          <div class="icon_cont">
            <div class="fast_soft">
              <i class="icon_style fas fa-tachometer-alt"></i>
            </div>
            <div class="text_one">
              <h3 class="item_desc">Fast</h3>
              <p class="text_desc">
                I build applications with a focus on speed, high performace, and
                availablity that increase your productivity - and your profits.
              </p>
            </div>
          </div>
          <div class="icon_cont">
            <div class="fast_soft">
              <i class="icon_style fas fa-server"></i>
            </div>
            <div class="text_one">
              <h3 class="item_desc">Reliable</h3>
              <p class="text_desc">
                Drawing from my years of systems experience, I can help you
                deploy bug-free, robust, powerful software in a variety of
                environments.
              </p>
            </div>
          </div>
          <div class="icon_cont">
            <div class="fast_soft">
              <i class="icon_style far fa-lightbulb"></i>
            </div>
            <div class="text_one">
              <h3 class="item_desc">Intuitive</h3>
              <p class="text_desc">
                Spend less time training users and more time being productive. I
                make it a priority to build software products that are easy to
                use and as automated as possible.
              </p>
            </div>
          </div>
          <div class="icon_cont">
            <div class="fast_soft">
              <i class="icon_style fas fa-rocket"></i>
            </div>
            <div class="text_one">
              <h3 class="item_desc">Quick Turnaround</h3>
              <p class="text_desc">
                Months, not years. I'm able to help you go from
                back-of-the-napkin to on-the-production-floor in a timeframe
                that can exceed your expectations.
              </p>
            </div>
          </div>
        </div>
        <div class="content_wrapper">
          <div class="about_img"></div>
          <div class="about_text">
            <p class="about_me">
              Originally from Kentucky, I've lived in a variety of places and
              worked with a fantastic array of companies over my IT career. I
              started out originally as a Systems Analyst and focused mainly on
              systems and infrastructure, only to move entirely into software
              development and engineering back in 2015. I'm able to inject new
              ideas, train junior developers, and help your team meet your goals
              while exceeding your client's expectations. I take pride in
              tackling the biggest challenges I can find, as well as finding
              solutions for your most pressing problems.
            </p>
          </div>
        </div>
        <div class="down_arrow">
          <a href="#third_section" class="no_style sec_color"
            >Projects <i class="fas fa-chevron-circle-down"></i
          ></a>
        </div>
      </div>
      <div class="third_section" id="third_section">
        <div class="up_arrow">
          <a href="#second_section" class="no_style circ_dark"
            >About Me <i class="fas fa-chevron-circle-up"></i
          ></a>
        </div>
        <div class="about_welcome">
          <h2 class="about_intro sec_three_about">Current Projects</h2>
        </div>
        <div class="underline_about three_under"></div>
        <div class="project_container">
          <div class="gallery_item top">
            <div class="gal_img">
              <img
                src="../public/assets/mainInt01.png"
                alt="Interface Main Screen"
                class="gal_img_item"
              />
            </div>
            <div class="gallery_text">
              <h3 class="gal_text_item">Interface</h3>
            </div>
            <div class="gal_desc">
              <p class="gal_desc_item">
                Interface is the main manufacturing software suite for the
                production floor. It collects data from end users, robots,
                production machines, cameras, sensors, serial devices, and
                vehicles. Interface then stores this data in the client's
                database and allows users to access that data later on via the
                I.CON web console anywhere in the world.
              </p>
            </div>
          </div>
          <div class="gallery_item bottom">
            <div class="gal_img">
              <img
                src="../public/assets/mainIcon01.png"
                alt="Interface Main Screen"
                class="gal_img_item"
              />
            </div>
            <div class="gallery_text">
              <h3 class="gal_text_item">I.CON</h3>
            </div>
            <div class="gal_desc">
              <p class="gal_desc_item">
                I.CON is the web client for the Interface software suite. It
                allows remote users the ability to extract data that has been
                entered by end users of Interface, as well as track IT assets,
                manage remote devices via the web, download internal company
                software, and more.
              </p>
            </div>
          </div>
        </div>
        <div class="comp_work_logo">
          <div class="comp_text">
            <h2 class="comp_intro">Companies I've Worked With:</h2>
          </div>
          <div class="logo_img_cont">
            <div class="logo_img_item">
              <img
                src="../public/assets/jayco.png"
                alt="Jayco Logo"
                class="logo_img"
              />
            </div>
            <div class="logo_img_item">
              <img
                src="../public/assets/patrick.png"
                alt="Patrick Industries Logo"
                class="logo_img"
              />
            </div>
            <div class="logo_img_item">
              <img
                src="../public/assets/marvin.png"
                alt="Marvin Logo"
                class="logo_img"
              />
            </div>
            <div class="logo_img_item">
              <img
                src="../public/assets/xerox.png"
                alt="Xerox Logo"
                class="logo_img"
              />
            </div>
            <div class="logo_img_item">
              <img
                src="../public/assets/yrc.png"
                alt="YRC Logo"
                class="logo_img"
              />
            </div>
          </div>
        </div>
        <div class="down_arrow" id="bottom_down">
          <a href="#bottom" class="no_style circ_dark"
            >Contact <i class="fas fa-chevron-circle-down"></i
          ></a>
        </div>
      </div>
    </main>
    <footer class="bottom_footer" id="bottom">
      <div class="up_arrow">
        <a href="#first_section" class="no_style"
          >Home <i class="fas fa-chevron-circle-up"></i
        ></a>
      </div>
      <div class="contact_intro">
        <h2 class="contact_me">Contact Me</h2>
      </div>
      <div class="contact_container">
        <div class="contact_paragraph">
          <p class="contact_info">Timothy Bradford</p>
          <p class="contact_info">114 High Street</p>
          <p class="contact_info">Fairdale, ND 58229</p>
          <p class="contact_info">701 415 9250</p>
          <p class="contact_info">tim@timb.codes</p>
        </div>
        <div class="contact_me_inst">
          <p class="cont_text_fill">
            My normal contact hours for telephone are Monday - Friday, 9am to
            7pm CST. You're more than welcome to email me at any time you'd
            like, or send a message via the form field to your right. I look
            forward to speaking with you.
          </p>
        </div>
        <div class="contact_form">
          <form class="main_form" action="/email" method="POST" id="main_form">
            <div class="side_by_side">
              <label for="name">Name: <span class="required">*</span></label>
                    <input type="text" name="name" id="name" class="form_field" required />
            </div>
            <div class="side_by_side">
                <label for="email">Email: <span class="required">*</span></label>
                <input type="email" name="email" id="email" class="form_field" required />
            </div>
            <div class="side_by_side">
                <label for="subject">Subject: <span class="required">*</span></label
              >
              <input
                type="text"
                name="subject"
                id="subject"
                class="form_field"
                required
              />
            </div>
            <label for="message">Message: </label>
                <textarea name="message" id="message" cols="40" rows="5" required placeholder="Enter Your Message"></textarea>
                <input type="submit" name="submit" id="submit" value="submit" />
                </form>
            </div>
        </div>
        <div class="success_msg">
            <p class="email_success">Message Sent!</p>
        </div>
        </footer>
        <script src="../public/js/typewriter.js"></script>
        <script src="../public/js/main_script.js"></script>
</body>

</html>