html {
    scroll-behavior: smooth;
}

body {
    font: 16px "Readex Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #0eb566;
}

.first_section {
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_text {
    color: #fff;
    font-size: 8em;
}

.get_around {
    position: absolute;
    top: 2%;
    right: 2%;
}

.nav_item {
    margin: 0 20px;
}

.move_along {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 3%;
}

.txt-type {
    color: #0eb566;
}

.txt-type>.txt {
    border-right: 0.2rem solid #777;
}

.second_section {
    min-height: 100vh;
    width: 100%;
}

.up_arrow {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 30px;
}

.sec_color {
    color: #0eb566 !important;
}

.about_welcome {
    text-align: center;
    font-size: 1.5em;
    color: #0eb566;
}

.underline_about {
    border-top: 4px solid #0eb566;
    max-width: 80px;
    margin: -20px auto;
}

.icons_container {
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.icon_cont {
    max-width: 15%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.fast_soft {
    background-color: #0eb566;
    border-radius: 50%;
    min-width: 140px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 80px;
}

.icon_style {
    color: #fff;
    font-size: 80px;
}

.content_wrapper {
    max-width: 70%;
    margin: 4em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}

.about_img {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../assets/IMG_4584.jpg);
    display: inline-block;
    border: 2px solid #0eb566;
    border-radius: 50%;
}

.about_text {
    max-width: 50%;
}

.down_arrow {
    width: 96%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.third_section {
    min-height: 100vh;
    min-width: 100%;
    background-color: #e5e4e2;
}

.circ_dark {
    color: #000 !important;
}

#bottom_down {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.sec_three_about {
    color: #000 !important;
}

.three_under {
    border: 3px solid #000;
}

.project_container {
    max-width: 90%;
    margin: 3% auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #000;
    text-align: center;
    gap: 50px;
    flex-wrap: wrap;
}

.gallery_item {
    max-width: 30%;
}

.gal_img_item {
    height: 180px;
    border: 2px solid #0eb566;
    border-radius: 10px;
}

.end {
    margin-left: 1em;
}

.comp_work_logo {
    width: 70%;
    display: inline-block;
    margin-left: 15%;
}

.logo_img_cont {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.gal_desc_item {
    width: 70%;
    margin: auto;
}

.button_fix {
    margin-top: -60px;
}

.comp_text {
    text-align: center;
    color: #000;
}

.logo_img {
    max-width: 150px;
}

.bottom_footer {
    background-color: #000;
    min-height: 50vh;
}

.contact_container {
    padding-top: 30px;
    color: #fff;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.contact_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 58%;
    padding-right: 3em;
}

.contact_intro {
    color: #fff;
    text-align: center;
    margin-top: -25px;
}

.contact_paragraph {
    line-height: 0.75;
    margin-left: 10%;
}

.contact_me_inst {
    max-width: 280px;
    margin-left: 6%;
    text-align: center;
}

.contact_form {
    margin-right: 2%;
}

textarea {
    display: block;
    border-radius: 10px;
    text-decoration: none;
    resize: none;
    outline-color: 2px solid #0eb566;
    margin: 10px 0;
}

.side_by_side {
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    border-radius: 10px;
    padding: 6px;
    margin: 5px 0;
    width: 250px;
}

#submit {
    background-color: #0eb566;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    float: right;
    max-width: 100px;
}

.required {
    color: red;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: 0;
    box-shadow: inset 0 0 0 2px #0eb566;
}

.no_style {
    text-decoration: none;
    color: #fff;
}

.copyright {
    color: #fff;
    margin-left: 1em;
    margin-bottom: -6.5em;
}

.social_links {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 3em;
    padding-bottom: 1em;
}

.soc_icon {
    display: inline-block;
    font-size: 3em;
}


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #0eb566 #ffffff;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #0eb566;
    border-radius: 10px;
}

.success_msg {
    display: none;
    background-color: #000;
    margin-top: -70px;
    color: #0eb566;
    text-align: right;
    margin-right: 20%;
    padding: 0;
}

.end {
    margin-left: 1em;
}

@media (max-width: 1300px) {
    .comp_work_logo {
        width: 80%;
    }
    .contact_container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .gal_desc_item {
        width: 90%;
    }
    .project_container {
        flex-wrap: wrap;
    }
    .comp_work_logo {
        margin: auto;
        padding-left: 10%;
    }
}

@media (max-width: 1020px) and (min-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .main_text {
        font-size: 6em;
    }
    .icon_cont {
        max-width: 20%;
    }
    .content_wrapper {
        max-width: 90%;
    }
    .project_container {
        margin-top: 60px;
        flex-wrap: wrap;
        gap: 10px;
    }
    .gallery_item {
        max-width: 80%;
    }
    .comp_work_logo {
        display: none;
    }
    .up_arrow {
        display: none;
    }
    .down_arrow {
        display: none;
    }
    .sec_three_about {
        padding-top: 50px;
    }
    .bottom {
        padding-bottom: 50px;
    }
    .contact_intro {
        padding-top: 50px;
    }
    .move_along {
        display: none;
    }
    .message_txt {
        display: none;
        padding: 3em;
    }
    .bottom {
        margin-top: 60px;
    }
    .contact_container {
        display: block;
        margin: auto;
    }
    .contact_text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .contact_form {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contact_paragraph {
        padding: 0;
        margin: auto;
    }
    .contact_me_inst {
        padding: 0;
        margin: auto;
        max-width: 50%;
    }
    .end {
        margin-top: 0;
        /* margin-left: 1.5em; */
    }
}

@media (max-width: 768px) {
    html,
    body {
        overflow-x: hidden;
        padding: env(safe-area-inset);
    }
    .move_along {
        display: none;
    }
    .comp_work_logo {
        display: none;
    }
    .up_arrow {
        display: none;
    }
    .down_arrow {
        display: none;
    }
    .project_container {
        flex-direction: column;
        align-items: center;
    }
    .gallery_item {
        max-width: 95%;
    }
    .bottom {
        padding-bottom: 50px;
        padding-top: 40px;
    }
    .contact_intro {
        padding-top: 50px;
    }
    .sec_three_about {
        padding-top: 50px;
    }
    .top {
        padding-top: 50px;
    }
    .gal_img_item {
        height: 120px;
    }
    .content_wrapper {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        gap: 20px;
        padding-top: 40px;
    }
    .breakup {
        border-top: 2px solid #0eb566;
        min-width: 100%;
        margin-top: 40px;
        background-color: #000;
        color: #fff;
        height: 100%;
        margin-bottom: -65px;
    }
    .about_text {
        max-width: 80%;
        padding-bottom: 50px;
    }
    .icons_container {
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        justify-content: center;
        margin: 0;
        gap: 50px;
    }
    .icon_cont {
        max-width: 80%;
        padding: 30px 0;
    }
    .main_text {
        font-size: 3em;
    }
    .get_around {
        display: none;
    }
    .side_by_side {
        display: inline-block;
        text-align: left;
    }
    input {
        max-width: 150px;
        margin-left: 5px;
    }
    textarea {
        margin-top: 30px;
        max-width: 70%;
    }
    #submit {
        margin-right: 12em;
    }
    .message_txt {
        display: none;
        padding: 20px;
    }
    .copyright {
        display: none;
    }
    .social_links {
        margin-top: 1em;
        padding-top: 0;
    }
    .contact_container {
        display: block;
        margin: auto !important;
        text-align: center;
        width: 100%;
    }
    .contact_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 2.5em;
    }
    .contact_paragraph {
        padding: 0;
        margin: auto;
    }
    .contact_me_inst {
        padding: 0;
        margin: auto;
        max-width: 80%;
        margin-bottom: 30px;
    }
    .contact_form {
        display: flex;
        flex-direction: row;
        align-content: center;
        margin: auto;
        padding: 0;
        width: 80%;
    }
    .side_by_side {
        margin: 0;
        padding: 0;
    }
    .end {
        margin-top: -50px;
        margin-left: 0;
    }
}