body {
    font: 16px "Readex Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #0eb566;
}

.first_section {
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_text {
    color: #fff;
    font-size: 8em;
}

.get_around {
    position: absolute;
    top: 2%;
    right: 2%;
}

.nav_item {
    margin: 0 20px;
}

.move_along {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 3%;
}

.txt-type {
    color: #0eb566;
}

.txt-type>.txt {
    border-right: 0.2rem solid #777;
}